mat-card{
    margin:20px;
    padding:30px;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.mat-prefix{
    padding-left:1em;
}

table{
    width:50vw;
}

td{
    width:50%;
}

form{
    width:50vw;
}

textarea{
    resize: none;
}

.mat-full-length{
    width:100%;
}