mat-card{
    margin:20px;
    padding:30px;
}

.mat-prefix{
    padding-left:1em;
}

table{
    width:50vw;
}

td{
    width:50%;
}

form{
    width:50vw;
}

textarea{
    resize: none;
}

.mat-full-length{
    width:100%;
}

.password{
    margin:1em 0 1em 0;
}

mat-error{
    display: none !important;
}

mat-error:first-child {
    display: block !important;
}

button{
    margin: 0 5px 0 5px;
}