<mat-card *ngIf="employeeDetails">
    <h1>{{employeeDetails.fullName}}</h1>
    <mat-card-content>
        <p>
            Username: {{employeeDetails.username}}
        </p>
        <p>
            First Name: {{employeeDetails.fName}}
        </p>
        <p>
            Last Name: {{employeeDetails.lName}}
        </p>
        <p>
            Email: {{employeeDetails.email}}
        </p>
        <p>
            Contact: {{employeeDetails.contact}}
        </p>
        <p>
            Address: {{employeeDetails.address}}
        </p>
    </mat-card-content>
</mat-card>