<mat-card>
    <form (submit)="deleteEmployeeAction()">
        <table>
            <tr>
                <th>
                    <h1>Delete this current employee and their information?</h1>
                </th>
            </tr>
            <tr>
                <td>
                    <p>
                        Employee details here
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        You will not be able to recover their info once deleted.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <button mat-raised-button color="warn">Delete</button>
                    <button mat-raised-button color="basic">Cancel</button>
                </td>
            </tr>
        </table>
        
        
    </form>
</mat-card>

