<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" 
    aria-label="menu button"
    [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logoutAction()">Logout</button>
    <button mat-menu-item [routerLink]="['/admin']">Admin Login</button>
    <button mat-menu-item [routerLink]="['/employees']">Employee Login</button>
  </mat-menu>
  <span>Employee Management System</span>
  <span class="example-spacer"></span>
  
</mat-toolbar>
<router-outlet></router-outlet>